@layer components {
	/* Built in loading state of every button */
	button[data-loading='true'] {
		@apply flex-cc;
	}

	.btn-custom {
		@apply mt-6 md:mt-10 inline-block bg-white px-5 py-3 text-xs sm:text-sm md:text-base font-semibold border-l-4 border-green-400 hover:bg-gray-100;
	}

	.btn-primary {
		@apply px-4 cursor-pointer text-sm py-2 w-full bg-green-500 mt-8 text-white active:bg-green-600 hover:bg-green-400 duration-200 flex justify-center shadow-sm rounded-sm;
	}
	.btn-secondary {
		@apply px-4 cursor-pointer text-sm py-2 w-full bg-gray-200 mt-8 text-gray-800 active:bg-gray-200 hover:bg-gray-300 duration-200 flex justify-center shadow-sm rounded-sm;
	}

	button[data-loading='true'] i.spinner {
		@apply inline-flex ml-2;
	}

	.container {
		@apply w-full max-w-[1200px] mx-auto;
	}

	i.spinner {
		display: none;
		width: 16px;
		height: 16px;
		border: 3px solid;
		border-color: #fff #fff5 #fff #fff5;
		border-radius: 50%;
		animation: spin 1.2s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.work-list-with-title a:nth-child(1),
	.work-list-with-title a:nth-child(4) {
		@apply md:col-span-2;
	}
}
